.header {
    width: 100%;
    height: 15%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
}

.logo {
    font-family: var(--font-logo);
    font-size: 2rem;
    font-weight: 700;
    color: var(--habit-color-1);
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid var(--background-2);
    padding: 0.5rem 1rem;
}

#menu {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu__item {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(136, 133, 133);
    padding: 1rem;
    cursor: pointer;
}

.menu__item a{
    text-decoration: none;
    color: inherit;
}

.menu__item:hover {
    color: var(--habit-color-1);
    border-bottom: 2px solid var(--habit-color-1);
}

.actions {
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid; */
    font-size: 1.6rem;
}

.actions a {
    text-decoration: none;
    padding: .7rem;
    font-size: 1.6rem;
    background: rgb(219, 46, 46);
    border: 0;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

.actions span {
    color: rgb(14, 129, 14);
}