@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-0: #7b2cbf;
    --background-1: #5a189a;
    --background-2: #3c096c;
    --background-3: #ff7900;

    --font-logo: 'Comfortaa', cursive;
    --font-primary: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--background-2);
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
}